name: dbcli-client
services:
  zero:
    image: dgraph/dgraph:latest
    container_name: dgraph_zero
    volumes:
      - ./storage/zero:/dgraph
    ports:
      - "5080:5080"
      - "6080:6080"
    restart: on-failure
    command: dgraph zero --bindall=true --my=zero:5080

  alpha:
    image: dgraph/dgraph:latest
    container_name: dgraph_alpha
    volumes:
      - ./src/bulk_or_alpha.sh:/dgraph/bulk_or_alpha.sh   # Entry point
      - ./graphQL:/dgraph/graphQL                         # Schema
      - ./data:/dgraph/data                               # Data to load into DGraph
      - ./storage/alpha:/dgraph                           # DGraph loaded data
    ports:
      - "7080:7080"
      - "8080:8080"
      - "9080:9080"
    restart: on-failure
    depends_on:
      - zero
    command: bash ./bulk_or_alpha.sh

  ratel:
    image: dgraph/ratel:latest
    container_name: dgraph_ratel
    ports:
      - "8000:8000"
    command: dgraph-ratel

  dbcli:
    container_name:
      dbcli_python
    build:
        context: ./src
        dockerfile: Dockerfile
    volumes:
      - ./data:/data
      - ./src/:/code
      - /code/.venv
    environment:
      DGRAPH_HOST: "dgraph_alpha"
      DGRAPH_PORT: "9080"
      DEBUG: "FALSE"
    stdin_open: true
    tty: true
    restart: on-failure
